---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";

export const prerender = true;

export async function getStaticPaths() {
  const events = await getCollection("events");

  return events.map((event) => ({
    params: { id: event.slug },
    props: { event },
  }));
}

const { event } = Astro.props;
const { slug, data } = event;
const { date, hour, img, location, location_url, title } = data;

const dateUTC = new Date(date.getTime() + date.getTimezoneOffset() * 60000);
const formattedDate = dateUTC.toLocaleDateString("es-MX", {
  year: "numeric",
  month: "2-digit",
  day: "2-digit",
});

const { Content } = await render(event);
---

<Layout title={title}>
  <div class="flex flex-row">
    <div>
      <a href="/events" class="flex">
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M5 12l14 0"></path><path d="M5 12l6 6"></path><path
              d="M5 12l6 -6"></path></svg
          >
        </span>
        Regresar
      </a>
    </div>

    <div class="flex-1">
      <h1 class="text-xl sm:text-2xl text-center font-black mb-4">{title}</h1>
    </div>
  </div>

  <div class="flex flex-col-reverse lg:flex-row lg:space-x-4 w-full">
    <aside class="flex-1">
      <img
        transition:name={`img-${slug}`}
        src={`/images/${img}`}
        alt={title}
        loading="eager"
        class="w-full"
      />
    </aside>

    <main class="flex-1">
      <div class="flex flex-col sm:flex-row mb-2 space-y-2 sm:space-y-0">
        <p class="flex-1 flex">
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-calendar-week"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z"
              ></path><path d="M16 3v4"></path><path d="M8 3v4"></path><path
                d="M4 11h16"></path><path d="M8 14v4"></path><path d="M12 14v4"
              ></path><path d="M16 14v4"></path></svg
            >
          </span>
          {formattedDate}
        </p>

        <p class="flex-1 flex">
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-clock-hour-7"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path><path
                d="M12 12l-2 3"></path><path d="M12 7v5"></path></svg
            >
          </span>
          {hour}
        </p>

        <p class="flex-1 flex">
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-map-pin"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path><path
                d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z"
              ></path></svg
            >
          </span>
          <a target="_blank" href={location_url}>
            {location}
          </a>
        </p>
      </div>

      <div class="prose prose-invert">
        <Content />
      </div>
    </main>
  </div>
</Layout>
