---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";

import { getCollection } from "astro:content";

const events = await getCollection("events");
---

<Layout title="Eventos">
  <section
    aria-label="Eventos que hemos vivido"
    class="grid md:grid-cols-2 gap-4"
  >
    {
      events.map((event) => {
        const { slug, data } = event;
        const { title, date, img, location, location_url, hour } = data;
        const dateUTC = new Date(
          date.getTime() + date.getTimezoneOffset() * 60000
        );

        const formattedDate = dateUTC.toLocaleDateString("es-MX", {
          year: "numeric",
          month: "2-digit",
          day: "2-digit",
        });

        return (
          <Card classes="transition hover:scale-105">
            <div class="px-4 ">
              <h2 class="font-mono text-center text-xl">{title}</h2>

              <div class="flex flex-row">
                <p class="flex-1">
                  <span>Fecha: {formattedDate}</span> <br />
                  <span>Hora: {hour}</span>
                </p>

                <p class="flex-1 text-right">
                  <a href={location_url} target="_blank">
                    Lugar: {location}
                  </a>
                </p>
              </div>
            </div>

            <a href={`/event/${slug}`}>
              <div class="mt-2">
                <Image
                  transition:name={`img-${slug}`}
                  src={`/images/${img}`}
                  alt={title}
                  width={900}
                  height={300}
                  loading="eager"
                />
              </div>
            </a>
          </Card>
        );
      })
    }
  </section>
</Layout>
