---
import Card from "../components/Card.astro";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import * as NextEvent from "../content/events/1024MU.md";
import { Image } from "astro:assets";

const { Content, frontmatter } = NextEvent;
const { title, location, location_url, date, hour } = frontmatter;

const dateExample = new Date(date);

// Obtener la fecha UTC
const dateUTC = new Date(
  dateExample.getTime() + dateExample.getTimezoneOffset() * 60000
);

// Formatear la fecha en el formato es-MX (dd/mm/yyyy)
const formattedDate = dateUTC.toLocaleDateString("es-MX", {
  year: "numeric",
  month: "2-digit",
  day: "2-digit",
});
---

<Layout title="Inicio">
  <div class="space-y-4">
    <!-- Hero -->
    <Hero />

    <!-- Proximo Evento -->
    <Card>
      <div class="px-4">
        <h2 class="font-mono text-center text-xl">{title}</h2>

        <div class="flex flex-row">
          <p class="flex-1">
            <span>Fecha: {formattedDate}</span>
            <br />
            <span>Hora: {hour}</span>
          </p>

          <p class="flex-1 text-right">
            <a href={location_url} target="_blank">
              Lugar: {location}
            </a>
          </p>
        </div>
      </div>

      <div class="mt-2 text-center">
        <h3 class="text-2xl sm:text-5xl font-black">PROXIMAMENTE</h3>
        <p>Mas información</p>
      </div>
    </Card>
  </div>
</Layout>
